@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(153, 153, 181);
}

.divpadre {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.d-block {
  display: block;
  text-align: center;
}

.boton {
  display: flex;
  justify-content: center;
}

h3 {
  color: rgb(6, 6, 6);
}
